<html>
<head><title>Smiles.Care </title>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect('http://127.0.0.1:4000');
        socket.on('update', function (data) {
            console.log(data);
        });
    </script>

</head>
<body>
<h3>Smiles.Care</h3>
</body>
</html>